**/.gradle/
**/build/
**/bin/
**/obj/
desktop/Entity.Setup/bundle.zip
dependencies/
.gradle-user/
*.log
*.tmp
*.partial
.env
.env.*
**/accounts.json
**/credentials.json
**/secrets.json
world/
world_nether/
world_the_end/
saves/
.idea/
.vscode/
